venv/
pred_graphs/
#models/
football_fields/
predicted_vs_frame_graphs/
rating_vs_frame_graphs/
playground.py
fin_70.csv
netdata.csv
train.csv
scratch*
netdata_with_ball.csv
train_data(31007, 10, 10, 11).csv
train_values(31007, 199).csv
data/
data_zip.zip